@import "nullstyle";

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
}
.wrapper {
    width: 100%;
    height: 100%;
    background-color: #010206;
}
.container {
    max-width: 1246px;
    margin: 0 auto;
    padding: 0 15px;
}
.page-body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

// Первая страница first page
.startPage {
    position: relative;
    height: 100vh;
    background: linear-gradient(180deg, #010208 16.39%, #010206 20.51%, #040008 24.79%, #010101 30.46%, #010101 34.11%, #010101 36.21%, #010101 100%);
}
.header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    & img {
        position: relative;
        z-index: 10;
        width: 100%;
        height: 100%;
    }
}
.nav_list {
    display: flex;
    column-gap: 30px;
}
.nav_link {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;
    color: #E3E4E6;
    transition: all .5s;
    &.nav_link:hover{
        color: #BC3CD8;
        transition: all .5s;
        &.nav_link::after {
            opacity: 1;
            visibility: visible;
            bottom: -10px;
        }
    }
}
.nav_link::after {
    content: "";
        position: absolute;
        opacity: 0;
        visibility: hidden;
        bottom: -50px;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
        transition: all .5s;
}
.title {
    font-weight: 300;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: rgba(227, 228, 230, 0.55);
    transition: all 1.8s;
    & span {
        font-weight: 600;
        color: #E3E4E6;
    }
    & h2 {
        display: block;
        max-width: 520px;
        margin-bottom: 80px;
    }
}
.startPage_title {
    opacity: 0;
    font-size: 56px;
    text-align: center;
    transform: translate(0, -120%);
}
.startPage_title.active {
    transform: translate(0, 0);
    opacity: 1;
}
.arrow-down {
    margin-bottom: 40px;
    & svg {
        animation: move 1.5s linear alternate infinite;
    } 
    @keyframes move {
    from{transform: translateY(0px)};
    50% {transform: translateY(-15px)};
    to {transform: translateY(-30px)};
    } 
}   

// Вторая страница two page
.twoPage {
    padding: 80px 0 130px;
    background: linear-gradient(180deg, #010208 16.39%, #010206 20.51%, #040008 24.79%, #010101 30.46%, #010101 34.11%, #010101 36.21%, #010101 100%);
}
.twoPage_title {
    overflow-x: hidden;
    & h2 {
        transform: translate(120%, 0);
        transition: all 1s;
        transition-delay: .5s;
        opacity: 0;
        visibility: hidden;
    }
}
.twoPage_title.active {
    & h2 {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);  
    }
}
.clients {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px 0;
    & img:nth-child(1){
        animation-delay: 0.5s;
    }
    & img:nth-child(2){
        animation-delay: 1s;
    }
    & img:nth-child(3){
        animation-delay: 1.5s;
    }
    & img:nth-child(4){
        animation-delay: 2s;
    }
}
.clients_img {
    opacity: 0;
    transform: scale(0, 0);
    transition: all 1s;
}
.clients_img.active {
    opacity: 1;
    animation: scale 1s linear;
    animation-fill-mode: forwards;
    @keyframes scale {
        from{transform: scale(0,0)};
        80% {transform: scale(1.2,1.2)};
        to {transform: scale(1,1)};
    } 
}

// Третья страница three page
.threePage {
    position: relative;
    z-index: -2;
    padding: 80px 0 120px;
    background: linear-gradient(180deg, #010208 16.39%, #010206 20.51%, #040008 24.79%, #010101 30.46%, #010101 34.11%, #010101 36.21%, #010101 100%);

}
.threePage-body {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}
.threePage_title {
    transition-delay: 1s;
}
.threePage-item {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.threePage-item:nth-child(even){
    & .threePage-item_img {
        order: 2;
}
}
.threePage-item_img {
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
        width: 100%;
        transition: all 1s;
        opacity: 0;
        visibility: hidden;
        transform: scale(0, 0);
    }
    & img.active {
        opacity: 1;
        visibility: visible;
        transform: scale(1, 1);
        animation: rotate_img 0.5s ease;
        animation-delay: 1s;
    }
    @keyframes rotate_img {
        0% {transform: rotate(0)};
        25% {transform: rotate(2deg)};
        50% {transform: rotate(-2deg)};
        75% {transform: rotate(2deg)};
        100% {transform: rotate(0)};
    } 
}
.threePage-item_content {
    align-self: end;
}
.threePage-item_title {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #E3E4E6;
    opacity: 0;
    visibility: hidden;
    transform: scale(0,0);
    transition: all 1s;
}
.threePage-item_title.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1,1);
}
.threePage-item_subtitle {
    margin: 20px 0;
    font-weight: 300;
    font-size: 32px;
    line-height: 150%;
    color: rgba(227, 228, 230, 0.55);
    & span {
        font-weight: 600;
        color: #E3E4E6;
    }
    opacity: 0;
    visibility: hidden;
    transform: scale(0,0);
    transition: all 1s;
    transition-delay: 0.5s;
}
.threePage-item_subtitle.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1,1);
}
.threePage-item_text {
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #E3E4E6;
    opacity: 0;
    visibility: hidden;
    transform: scale(0,0);
    transition: all 1s;
    transition-delay: 1s;
}
.threePage-item_text.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1,1);
}
.threePage-item_link {
    position: relative;
    display: block;
    text-align: center;
    margin-top: 40px;
    padding: 8px 16px;
    width: 163px;
    border: 1px solid rgba(227, 228, 230, 0.55);
    border-radius: 100px;
    background: transparent;
    transition: all 1s;
    transition-delay: 1.5s;
    overflow: hidden;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #E3E4E6;
    opacity: 0;
    visibility: hidden;
    transform: scale(0,0);
}
.threePage-item_link.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1,1);
    animation: scale-infinite 2s linear infinite;
    @keyframes scale-infinite {
        from{transform: scale(0.9,0.9)};
        50% {transform: scale(1,1)};
        to {transform: scale(0.9,0.9)};
    } 
}
.threePage-item_link:hover {
    animation: none;  
}

.threePage-item_link::before,
.threePage-item_link::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    border-radius: 100px;
    background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
    transition: all .5s;
}
.threePage-item_link::after {
    opacity: 1;
    transition-delay: .1s;
}
.threePage-item_link:hover:before,
.threePage-item_link:hover::after {
    left: 0;  
}

// Четвертая страница four page
.fourPage {
    background: linear-gradient(180deg, #010208 16.39%, #010206 20.51%, #040008 24.79%, #010101 30.46%, #010101 34.11%, #010101 36.21%, #010101 100%);
    padding: 75px 0;
}
.fourPage_body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
}
.fourPage_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
}
.fourPage_title {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #E3E4E6;
}
.fourPage_subtitle {
    font-weight: 300;
    font-size: 32px;
    line-height: 150%;
    color: rgba(227, 228, 230, 0.55);
    & span {
        font-weight: 600;
        color: #E3E4E6;
    }
}
.fourPage_images {
    & img {
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: all 1s;
    }
    display: grid;
    gap: 30px;
    grid-template-areas: "A B"
                         "A B"
                         "A C"
                         "A C";
    & img:nth-child(1){
        grid-area: A;
        align-self: center;
        transform: translateX(-100%) rotate(180deg);
    }
    & img:nth-child(2){
        grid-area: B;
        transform: translate(0, -50%) rotate(-180deg);
    }
    & img:nth-child(3){
        grid-area: C;
        transform: translate(0, 50%) rotate(180deg);
    }
    & img.active {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0) rotate(0);
    }
}                         
// Подвал сайта footer 

.footer {
    background: linear-gradient(180deg, #010208 16.39%, #010206 20.51%, #040008 24.79%, #010101 30.46%, #010101 34.11%, #010101 36.21%, #010101 100%);
    padding: 80px 0px 40px;
    overflow: hidden;
}
.footer_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.footer_title {
    font-size: 56px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: all 1s;
}
.footer_title.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
.footer_subtitle {
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #E3E4E6;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 1s;
    transition-delay: 0.5s;
}
.footer_subtitle.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
.footer_icons {
    padding: 60px 0 80px;
    display: flex;
    gap: 30px;
    & svg path{
        transition: all .5s;
    }
    & a {
        opacity: 0;
        visibility: hidden;
        transform: scale(0, 0);
        transition: all 1s;
        transition-delay: 1s;  
    }
    & a.active {
        opacity: 1;
        visibility: visible;
        transform: scale(1, 1);
    }
}
.footer_icons svg:hover {
    & path {
        fill: #C54B8C;
        fill-opacity: 1;
    }
}
.footer_copyright {
    font-size: 18px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: all 1s;
    transition-delay: 1s;
}
.footer_copyright.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
}
@import "mobile";